// Cores em Hex
$azul: #0d3b66 !default;
$bege: #FAF0CA !default;
$amarelo: #F4D35E !default;
$marron: #ee964b !default;
$laranja: #f95738 !default;
$green: #3ace3a !default;

// Cores em RGB
$azul-rgb: rgb(13,59,102) !default;
$bege-rgb: rgb(250,240,202) !default;
$amarelo-rgb: rgb(244,211,94) !default;
$marron-rgb: rgb(238,150,75) !default;
$laranja-rgb: rgb(249,87,56) !default;
$green-rgb: rgb(58,206,58) !default;